<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Binary Loyalty</title>
</head>
<body>
<h1>Binary Loyalty</h1>
<form method="post" action="/startGame">
    <input type="submit" id="start_game_submit" value="Start New Game"/>
</form>
<form method="post" action="/joinGame" th:object="${game_code_form}">
    Enter a Game Code to Join
    <input type="text" id="enter_game_code" th:field="*{code}"/>
    <input type="submit" id="join_game_submit" value="Join Game"/>
</form>
</body>
</html>