<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="poll.js" th:attr="data-user_type=${user_info.userType}"></script>
    <meta charset="UTF-8"/>
    <title>Lobby</title>
</head>
<body>
Welcome <span id="user_name" th:text="${user_info.userName}">!</span>
<p>Your Game Code is:</p>
<p id="game_code" th:text="${game.gameCode}">!</p>

<button id="start_button" onclick="startGame()">Start Game</button>
<h3 id="game_status"></h3>
<div id="ready_prompt" style="display:none">
    Ready?
    <form>
        <input type="button" value="Yes" onclick="setReady()"/>
        <input type="button" value="No" onclick="leaveGame()"/>
    </form>
</div>

Current players:
<ul th:each="player : ${game.players}">
    <li th:text="${player.userName}"></li>
</ul>

</body>
</html>